{% load static %} {% load humanize %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Search Menu</title>
    <!-- Import Poppins font from Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-[#fffbf2] w-full overflow-x-hidden font-['Poppins'] h-screen">
    <div class="flex flex-col w-screen justify-item-center">
      <!-- Navbar -->
      <nav class="relative z-50">{% include 'navbar.html' %}</nav>

      <!-- Search Menu Section -->
      <div class="flex flex-col items-center mt-40 text-center">
        <h1 class="font-bold text-3xl sm:text-4xl md:text-5xl font-bold">Search Menu</h1>
        <h2 class="text-xl sm:text-2xl mt-2">What you want to eat?</h2>
      </div>

      <!-- Search Bar -->
      <div class="flex flex-col items-center mt-10">
        <div class="relative w-full max-w-xs sm:max-w-lg md:max-w-xl lg:max-w-2xl">
          <div class="absolute inset-y-0 left-0 flex items-center pl-4">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-search text-red-500 h-6 w-6"
              viewBox="0 0 16 16"
            >
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
            </svg>
          </div>
          <input
            type="text"
            placeholder="Search"
            id="search-input"
            class="w-full py-4 pl-12 pr-28 text-lg border border-gray-300 rounded-full focus:outline-none focus:ring-2 focus:ring-red-400 shadow-sm"
          />
          <!-- Dropdown for Budget -->
          <div class="absolute inset-y-0 right-0 flex items-center pr-4">
            <div class="relative">
              <button
                id="dropdownButton"
                class="text-red-500 font-medium focus:outline-none"
              >
                Budget

                <span class="ml-1 inline-flex items-baseline">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-chevron-down"
                    viewBox="0 0 16 16"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"
                    />
                  </svg>
                </span>
              </button>
              <!-- Dropdown Menu -->
              <div
                id="dropdownMenu"
                class="hidden absolute right-0 mt-2 w-36 bg-white border border-gray-300 rounded-lg shadow-lg z-40"
              >
                <a
                  href="#"
                  class="dropdown-option block px-4 py-2 text-gray-800 hover:bg-gray-100"
                  data-value="10000"
                  data="≤ 10,000"
                  >Up to 10,000</a
                >
                <a
                  href="#"
                  class="dropdown-option block px-4 py-2 text-gray-800 hover:bg-gray-100"
                  data-value="20000"
                  data="≤ 20,000"
                  >Up to 20,000</a
                >
                <a
                  href="#"
                  class="dropdown-option block px-4 py-2 text-gray-800 hover:bg-gray-100"
                  data-value="30000"
                  data="≤ 30,000"
                  >Up to 30,000</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        class="py-[20vh]"
        id="space-container"
      ></div>

      <!-- Results Title -->
      <div
        class="flex flex-col items-start mt-5 mx-10 sm:mx-15 md:mx-20 lg:mx-30 hidden"
        id="results-title"
      >
        <h1 class="text-2xl">Results :</h1>
      </div>

      <!-- Menu Card -->
      <div
        class="flex flex-wrap justify-center gap-6 mt-5 mb-8"
        id="menu-results"
      ></div>

      <!-- Product Not Found Section -->
      <div
        id="no-results"
        class="hidden flex flex-col items-center justify-center mt-1"
      >
        <img
          src="{% static 'images/product_not_found.png' %}"
          alt="Product Not Found"
          class="w-48"
        />
        <p class="text-lg text-gray-700 mt-4 font-bold">Sorry, we couldn't find any menus that matches your search.</p>
      </div>
    </div>
  </body>
  <!-- Footer -->
  {% include 'footer.html' %}
  <script>
    // Toggle dropdown visibility
    document.getElementById('dropdownButton').addEventListener('click', function (event) {
      event.stopPropagation();
      const dropdownMenu = document.getElementById('dropdownMenu');
      dropdownMenu.classList.toggle('hidden');
    });

    // Update button text based on selection
    document.querySelectorAll('.dropdown-option').forEach(function (option) {
      option.addEventListener('click', function (event) {
        event.preventDefault();
        const value = this.getAttribute('data');
        document.getElementById('dropdownButton').innerHTML =
          value +
          `
                        <span class="ml-1 inline-flex items-baseline">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-chevron-down"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"
                  />
                </svg>
              </span>
              `;
        document.getElementById('dropdownMenu').classList.add('hidden');
      });
    });

    // Close dropdown when clicking outside
    window.addEventListener('click', function (e) {
      const dropdownButton = document.getElementById('dropdownButton');
      const dropdownMenu = document.getElementById('dropdownMenu');
      if (!dropdownButton.contains(e.target)) {
        dropdownMenu.classList.add('hidden');
      }
    });

    // Function to format numbers with commas
    function formatNumber(num) {
      return num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
    }

    $(document).ready(function () {
      var selectedBudget = ''; // Store selected budget

      // Function to fetch menus based on query and budget
      function fetchMenus(query, budget) {
        $.ajax({
          url: '/search-menu/',
          data: {
            query: query,
            budget: budget,
          },
          dataType: 'json',
          success: function (data) {
            $('#menu-results').empty();
            if (data.results.length > 0) {
              $('#space-container').addClass('hidden');
              $('#results-title').removeClass('hidden');
              $('#no-results').addClass('hidden');
              data.results.forEach(function (menu) {
                $('#menu-results').append(`
                  <div
                    class="bg-white relative rounded-[36px] shadow-md overflow-hidden flex flex-col items-start shadow-lg transform hover:scale-105 transition-transform duration-300 max-w-xs w-full sm:w-1/3"
                    style="flex-shrink: 0; background: linear-gradient(180deg, #f5e6c5 0%, #ffc5a5 100%), #f5e6c5; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)"
                  >
                    <!-- Edit and Delete Buttons -->
                    {% if user.is_authenticated and user.username == 'admin'%}
                    <div class="absolute top-3 right-3 flex space-x-2 z-50">
                      <!-- Edit button -->
                      <a
                        class="bg-blue-500 text-white rounded-full w-10 h-10 flex items-center justify-center hover:scale-110 transition-transform duration-300 hover:bg-blue-600"
                        href="/menu/edit/${menu.id}"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          fill="currentColor"
                          class="bi bi-pencil"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"
                          />
                        </svg>
                      </a>

                      <!-- Delete button -->
                      <a
                        class="bg-red-500 text-white rounded-full w-10 h-10 flex items-center justify-center hover:scale-110 transition-transform duration-300 hover:bg-red-600"
                        href="/menu/delete/${menu.id}"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          fill="currentColor"
                          class="bi bi-trash"
                          viewBox="0 0 16 16"
                        >
                          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                          <path
                            d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"
                          />
                        </svg>
                      </a>
                    </div>
                    {% endif %}
                    <!-- Image Section -->
                    <img
                      src="${menu.gambar}"
                      alt="${menu.menu}"
                      class="w-full h-48 object-cover rounded-t-[36px]"
                    />

                    <!-- Content Section -->
                    <div class="p-6">
                      <h2 class="font-bold text-2xl text-gray-800">${menu.menu}</h2>
                      <p class="text-lg text-gray-800 mt-2">Rp ${formatNumber(menu.harga)}</p>
                      <div class="flex items-center mt-2">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          fill="currentColor"
                          class="bi bi-geo-alt text-orange-500 h-5 w-5"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10"
                          />
                          <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                        </svg>
                        <p class="ml-2">${menu.warung}</p>
                      </div>
                      <p class="mt-2"><span class="text-orange-500 font-bold">Rate :</span> 3 out of 5</p>
                    </div>

                    <!-- Button Section -->
                    <div class="w-full flex justify-center mb-3">
                      <a
                        class="bg-[#252525] text-white px-6 py-2 rounded-full"
                        href="/warung/${menu.warung}"
                        >See Details</a
                      >
                      {% if user.is_authenticated %}
                      <a
                        class="bg-[#ff583e] text-white px-6 py-2 ml-3 rounded-full"
                        href="/wishlist/add/${menu.id}/"
                        >Add to list</a
                      >
                      {% endif %}
                    </div>
                  </div>
                      `);
              });
            } else {
              $('#results-title').addClass('hidden');
              $('#no-results').removeClass('hidden');
            }
          },
        });
      }

      // Search input keyup event
      $('#search-input').on('keyup', function () {
        var query = $(this).val();
        fetchMenus(query, selectedBudget);
      });

      // Budget dropdown selection event
      $('.dropdown-option').on('click', function () {
        selectedBudget = $(this).attr('data-value'); // Get selected budget
        var query = $('#search-input').val();
        fetchMenus(query, selectedBudget); // Trigger search with budget
      });
    });
  </script>
</html>
