{% load static %}
<footer
  class="mt-12 w-full bottom-0"
  style="background: #252525"
>
  <div class="flex flex-col md:flex-row justify-between items-center mx-auto px-6 h-[25vh] lg:h-[30vh]">
    <div class="flex flex-col md:flex-row items-center space-y-0 md:space-y-4 space-x-0 md:space-x-4 text-center md:text-left mt-2">
      <img
        src="{% static 'images/logo.png' %}"
        alt="Logo"
        class="h-10 w-10 md:h-13 md:w-13 lg:h-16 lg:w-16 mt-16 md:mt-0"
      />
      <h1 class="text-white text-2xl font-bold">WaraWarung</h1>
    </div>
    <p class="text-white text-lg mt-1 mb-16 md:mb-2">&copy; WaraWarung PBP B-12</p>
  </div>
</footer>
