<!-- POPUP before saving (can edit and click save) -->

<div class="confirm-popup">
    <h1>{{ cart_name }}</h1>
    <p>Budget: Rp{{ budget|floatformat:0 }}</p>  
    {% if cart_items %}
        <ul>
            {% for item in cart_items %}
                <li>{{ item.item_name }} - Quantity: {{ item.quantity }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Your cart is empty.</p>
    {% endif %}
    <p class="font-bold mt-3 text-black">Total: Rp{{ total_price|floatformat:0 }}</p>
</div>



